$fontSize: 14px;
$baseLineHeight : 1.5 !default;
$linkColor: #445475 #24A2FF #007AD4;
$fontColor: #475065 #8A93A8;

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

*{
  @include box-sizing(border-box);
}

body{
  font-size: $fontSize;
  line-height: $baseLineHeight;
  color:nth($fontColor,1);
}

a {
  color: nth($linkColor,1);
  cursor: pointer;
  &:hover{
    color: nth($linkColor,2);
  }
  &:active,{
    color: nth($linkColor,3);
  }
}
@mixin flex-flow ($flow:row) {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  display:box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-direction: normal;
  -moz-flex-direction: $flow;
  -webkit-flex-direction: $flow;
  -ms-flex-direction: $flow;
	-o-flex-direction: $flow;
  flex-direction: $flow;
  -webkit-flex-flow: $flow;
  flex-flow: $flow;

  @if $flow == row {
    -webkit-box-orient: horizontal;
  } @else if $flow == column {
      -webkit-box-orient: vertical;
  }
}
@mixin flex-align($align:center) {
  -webkit-box-align: $align;
    -moz-align-items: $align;
    -webkit-align-items: $align;
    align-items: $align;
}
@mixin flex-justify($justify:center) {
  -webkit-box-pack: $justify;
    -moz-justify-content: $justify;
    -webkit-justify-content: $justify;
    justify-content: $justify;

}
@mixin flex-num($num:1) {
  -moz-flex-grow:  $num;
  -webkit-flex-grow:  $num;
  flex-grow:  $num;
  -webkit-box-flex: $num;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $num;
  /* OLD - Firefox 19- */
  -webkit-flex: $num;
  /* Chrome */
  -ms-flex: $num;
  /* IE 10 */
  flex: $num;
  min-height: 0;
}
.flex-row{
  @include flex-flow(row);
}
.flex-column{
  @include flex-flow(column);
}
.justify-center{
  @include flex-justify(center);
}
.align-center{
  @include flex-align(center);
}
.flex1{
  @include flex-num(1);
}
.flex2{
  @include flex-num(2);
}
.flex3{
  @include flex-num(3);
}
.flex4{
  @include flex-num(4);
}
.flex5{
  @include flex-num(5);
}
